--binarygrouping none
--decimalgrouping none
--hexgrouping none
--indent 4
--octalgrouping none
--self init-only
--semicolons never
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
